<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <div class="main" id="main">
      <header>
        <div class="year">
           <span class="pre" @click="sureYear(1)"><</span>
          <span>{{ year }} 年 </span>
          <span class="pre" @click="sureYear(2)">></span>
        </div>
        <div class="month">
          <div v-for="(item,index) in monthArr" :key="index" :class="{'active':item==month}" @click="sureMonth(item)">
            {{ item + 1 }}月
          </div>
        </div>
      </header>
      <div class="content">
            <span class="pre-week" @click="getData({'value':1})" ><</span>
            <span class="next-week" @click="getData({'value':2})">></span>
        <div class="wrap">
          <div v-for="(item,index) in arr" :key="index" :class="{'active':item.date==activeDay,'cur':item.date==today}" @click="sureDay(item.date)">
            {{ item.day }}
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>